<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title></title>
    <link rel="stylesheet" href="/static/about.css">
<link rel="icon" href="/static/images/favicon.ico">
</head>
<body>
<!-- partial:index.partial.html -->
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="content">
        <div class="img"><img src="/static/images/meenakshi.jpg"></div>
        <div class="cardContent">
          <h3>Meenakshi<br><span>Frontend Developer</span></h3>
        </div>
      </div>
      <ul class="sci">
        <li style="--i:1">
          <a href="https://www.linkedin.com/in/meenakshi-yakkala-542ab428a/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </li>
        <li style="--i:2">
          <a href="https://www.instagram.com/_meenakshi_yakkala/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
    </ul>
    </div>
    <br>
    <br>
    <div class="container">
    <div class="card">
      <div class="content">
        <div class="img"><img src="/static/images/bhavya.jpg"></div>
        <div class="cardContent">
          <h3>Bhavya<br><span>Backend Developer</span></h3>
        </div>
      </div>
      <ul class="sci">
        <li style="--i:1">
          <a href="https://www.linkedin.com/in/bhavya-chowdary-46687b245/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </li>
        <li style="--i:2">
          <a href="https://www.instagram.com/bhavya._.chowdary21/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
    </ul>
    </div>
  </div>
  <br>

  <div class="container">
    <div class="card">
      <div class="content">
        <div class="img"><img src="/static/images/raj.jpg"></div>
        <div class="cardContent">
          <h3>Rajashree<br><span>Team Lead & Frontend Developer</span></h3>
        </div>
      </div>
      <ul class="sci">
        <li style="--i:1">
          <a href="https://www.linkedin.com/in/rajashree-satapathy-73baa224a/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </li>
        <li style="--i:2">
          <a href="https://www.instagram.com/_rajshree613_/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
    </ul>
    </div>
</body>
<!-- partial -->

</body>
</html>
